.search {
    position: absolute;
    transform: translateX(-50%);
    top: 10%;
    left: 50%; 
    text-align: center; 
}

.search input[type="text"] {
    width: 100%;
    border: 2px solid black;
}

.search-btn {
    cursor: pointer;
    background: linear-gradient(to right,orangered, orange);
    border: 2px solid black;
    outline: none;
    color: white;
}
.search-btn:hover {
    background: orange;
}