.search {
    position: absolute;
    transform: translateX(-50%);
    top: 10%;
    left: 50%; 
    text-align: center; 
}

.search input[type="text"] {
    width: 100%;
    border: 2px solid black;
}