.files-container {
  margin: 20px;
  padding: 20px;
}
.files-container h1 {
  width: 100%; 
  text-align: center;
}
  
.files-container ul {
  list-style: none;
}
  
.files-container li {
  margin: 10px 0;
  padding: 5px;
  background-color:  darkorange;
  border-radius: 5px;
  text-align: center;
  width: 40%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid black;
}
  
.files-container li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 5px;
}
  
.files-container li a:hover {
  background-color: orange;
}  