/*Body tag for giving consistent styling throughout the pages*/
body {
  padding: 0;
  margin: 0;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  background-image: linear-gradient(to right, forestgreen, lightgreen);
  min-height: 85vh;
}
/*Styling for the form box, acts as a container*/
.form-box {
  width:380px;
  height: 450px;
  position:relative;
  margin: 6%auto;
  background: white;
  padding: 0;
  border-radius: 10px;
  overflow: hidden; 
  border: solid 2px black;
}
/*Box for the button*/
.button-box {
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px forestgreen;
  border-radius: 30px;
  color: white;
  border: solid 2px black;
}
/*Styling for the toggle button*/
.toggle-btn {
  padding: 10px 30px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: none;
  position: relative;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}
/*Element for styling the buttons indivdually*/
#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, forestgreen, lightgreen);
  border-radius: 30px;
  transition: .5s;
}
/*Gives structure to input boxes*/
.input-group {
  top: 250px;
  position: absolute;
  width: 280px;
  transition: .5s;
}
/*Styles input boxes*/
.input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}
/*Styling for the submit button*/
.submit-btn {
  width:85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right,forestgreen, lightgreen);
  border: 0;
  outline: none;
  border-radius: 30px;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  border: solid 2px black;
}
/*Hover functionality for submit button*/
.submit-btn:hover {
  background: lightgreen
}
/*Individual styling for login button*/
#login{
  left:50px;
}
/*Individual styling for registration button*/
#register{
  left:450px;
}
/*Styling for the image logo*/
.img-logo {
  height: 125px;
  width: 125px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: solid 2px black;
}
/*About button styling*/
.about-button {
  width:20%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right,orangered, orange);
  border: 2px solid black;
  outline: none;
  border-radius: 30px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  color: white;
  top: 91%;
}
/*Hover for about button*/
.about-button:hover {
  background: orange;
}