body {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  height: 100%;
  background-image: linear-gradient(to right, forestgreen, lightgreen);
}

.form-box {
  width:380px;
  height: 450px;
  position:relative;
  margin: 6%auto;
  background: white;
  padding: 0;
  border-radius: 10px;
  overflow: hidden; 
}
.button-box {
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px forestgreen;
  border-radius: 30px;
  color: white;
}
.toggle-btn {
  padding: 10px 30px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: none;
  position: relative;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}
#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, forestgreen, lightgreen);
  border-radius: 30px;
  transition: .5s;
}

.input-group {
  top: 180px;
  position: absolute;
  width: 280px;
  transition: .5s;
}
.input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}
.submit-btn {
  width:85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right,forestgreen, lightgreen);
  border: 0;
  outline: none;
  border-radius: 30px;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}
.submit-btn:hover {
  background: lightgreen
}
#login{
  left:50px;
}
#register{
  left:450px;
}