nav {
  background-color: forestgreen;
  margin-top: 70px;
  border: 2px solid black;
  border-radius: 5px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  position: relative;
  color: white;
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
}

nav li a {
  text-decoration: none;
  color: inherit;
  padding: 10px;
  display: block;
}

nav li:hover {
  background-color: lightgreen;
}

nav li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: forestgreen;
}

nav .session-plans-submenu {
  left: 100%;
  top: 0;
}

nav .session-plans-sub-submenu,
nav .formations-submenu {
  left: 100%;
  top: 0;
  white-space: nowrap; 
}

nav .formations-submenu:hover {
  background-color: lightgreen;
}

nav .session-plans-sub-submenu
 {
  white-space: normal; 
}

nav li:hover > ul {
  display: block;
}

nav li div {
  color: white;
  padding: 10px;
  display: block;
}

nav li:hover > div,
nav li div:hover {
  background-color: lightgreen; 
}

nav li div,
nav li:hover {
  cursor: pointer;
}

nav li div:hover + ul {
  display: block;
}

nav li ul li {
  margin-left: 0;
}

nav li ul li a {
  color: white;
  padding: 10px;
  display: block;
}