nav {
  background-color: darkorange;
  height: 41px;
  position: relative;
  display: flex;
  z-index: 1000;
  border: 1px solid black;
  min-width: 700px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: darkorange;
  position: absolute;
}

nav li {
  position: relative;
  color: white;
  display: inline-block;
  cursor: pointer;
  width: 130px;
  height: 21px;
  text-align: center;
  padding: 10px;
  border-right: 1px solid black;
}

nav li a {
  text-decoration: none;
  color: inherit;
  display: block;
  border-right: none;
}

nav li:hover {
  background-color: orange;
}

nav li > ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  color: white;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

nav li ul ul {
  display: none;
  top: 0;
  left: 100%;
}

nav li:hover > ul,
nav li ul li:hover > ul {
  display: block;
}